<!DOCTYPE html>
<html>
<head>
    <title>SLR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="height:100vh">
<div class="container-fluid py-3 px-2 bg-primary text-white text-center align-content-center">
    <h1>Sign Language Recognition</h1>
</div>
<div style="width:50%;height:50%;margin:auto;" class="d-flex justify-content-center">
    <a class="btn btn-lg btn-outline-primary align-self-center" href="/get_asl">Start Video</a>
</div>

</body>
</html>
